# ExoStat Lab 0: Getting started with Python and Jupyter Notebooks

Welcome to YData: ExoStatistics:  Exploring Extrasolar Planets with Data Science!  

Most class meeting times will include a lecture portion and a lab portion.  This is the first ExoStat Lab and the purpose of the labs is to give you hands-on experience using the skills from the main YData course (S&DS 123/523) while working within a particular domain.  For this seminar, the focus is on detecting and characterizing exoplanets!

Before we get started, there are some administrative details.

- ExoStat Lab 0 (i.e., this lab) will **not** be turned in for credit, though generally the ExoStat Labs **will** be required and turned in for credit.

- Question 1 of this lab is the same as the Practice 01 question 1 found on the main [YData website](http://ydata123.org/sp19/) -- it explains the basic setup of a Jupyter Notebook.  I highly recommend that you work on the Practice exercises each week, and especially the rest of Practice 01.  

- Collaborating on the ExoStat Labs is encouraged. If you get stuck for a while on a question, feel free to ask a neighbor or come to the instructor's or TF's office hours for additional help. (Explaining things is beneficial, too -- the best way to solidify your knowledge of a subject is to explain it.) Please don't just share answers, though.

This term we will be using Piazza for class discussion. Find our class page [here](https://piazza.com/yale/spring2019/sds170/home)

You can read more about course policies on our [canvas site](https://canvas.yale.edu).


#### Today's ExoStat Lab

In today's exercises, you'll learn how to:

1. navigate Jupyter notebooks (like this one);
2. write and evaluate some basic *expressions* in Python, the computer language of the course;
3. call *functions* to use code other people have written; and
4. break down Python code into smaller parts to understand it.

Textbook reference:  [Chapter 3](http://www.inferentialthinking.com/chapters/03/programming-in-python.html) 

Credit:  Some aspects of this lab have been adapted from Berkeley's Data8 course.

# 1. Jupyter notebooks
This webpage is called a Jupyter notebook. A notebook is a place to write programs and view their results.

## 1.1. Text cells
In a notebook, each rectangle containing text or code is called a *cell*.

Text cells (like this one) can be edited by double-clicking on them. They're written in a simple format called [Markdown](http://daringfireball.net/projects/markdown/syntax) to add formatting and section headings.  You don't need to learn Markdown, but you might want to.

After you edit a text cell, click the "run cell" button at the top that looks like ‚ñ∂| to confirm any changes. (Try not to delete the instructions of the lab.)

**Question 1.1.1.** This paragraph is in its own text cell.  Try editing it so that this sentence is the last sentence in the paragraph, and then click the "run cell" ‚ñ∂| button .  This sentence, for example, should be deleted.  So should this one.

## 1.2. Code cells
Other cells contain code in the Python 3 language. Running a code cell will execute all of the code it contains.

To run the code in a code cell, first click on that cell to activate it.  It'll be highlighted with a little green or blue rectangle.  Next, either press ‚ñ∂| or hold down the `shift` key and press `return` or `enter`.

Try running this cell:

In [ ]:
print("Hello, World!")

And this one:

In [ ]:
print("\N{WAVING HAND SIGN}, \N{EARTH GLOBE ASIA-AUSTRALIA}!")

The fundamental building block of Python code is an expression. Cells can contain multiple lines with multiple expressions. When you run a cell, the lines of code are executed in the order in which they appear. Every `print` expression prints a line. Run the next cell and notice the order of the output.

In [ ]:
print("First this line is printed,")
print("and then this one.")

**Question 1.2.1.** Change the cell above so that it prints out:

    First this line,
    then the whole üåè,
    and then this one.

*Hint:* If you're stuck on the Earth symbol for more than a few minutes, try talking to a neighbor or a TF.  That's a good idea for any exercise.

## 1.3. Writing Jupyter notebooks
You can use Jupyter notebooks for your own projects or documents.  When you make your own notebook, you'll need to create your own cells for text and code.

To add a cell, click the + button in the menu bar.  It'll start out as a text cell.  You can change it to a code cell by clicking inside it so it's highlighted, clicking the drop-down box next to the restart (‚ü≥) button in the menu bar, and choosing "Code".

**Question 1.3.1.** Add a code cell below this one.  Write code in it that prints out:
   
    A whole new cell! ‚ô™üåè‚ô™

(That musical note symbol is like the Earth symbol.  Its long-form name is `\N{EIGHTH NOTE}`.)

Run your cell to verify that it works.

## 1.4. Errors
Python is a language, and like natural human languages, it has rules.  It differs from natural language in two important ways:
1. The rules are *simple*.  You can learn most of them in a few weeks and gain reasonable proficiency with the language in a semester.
2. The rules are *rigid*.  If you're proficient in a natural language, you can understand a non-proficient speaker, glossing over small mistakes.  A computer running Python code is not smart enough to do that.

Whenever you write code, you'll make mistakes.  When you run a code cell that has errors, Python will sometimes produce error messages to tell you what you did wrong.

Errors are okay; even experienced programmers make many errors.  When you make an error, you just have to find the source of the problem, fix it, and move on.

We have made an error in the next cell.  Run it and see what happens.

In [ ]:
print("This line is missing something."

You should see something like this (minus our annotations):

<img src="error.jpg"/>

The last line of the error output attempts to tell you what went wrong.  The *syntax* of a language is its structure, and this `SyntaxError` tells you that you have created an illegal structure.  "`EOF`" means "end of file," so the message is saying Python expected you to write something more (in this case, a right parenthesis) before finishing the cell.

There's a lot of terminology in programming languages, but you don't need to know it all in order to program effectively. If you see a cryptic message like this, you can often get by without deciphering it.  (Of course, if you're frustrated, ask a neighbor or a TA for help.)

Try to fix the code above so that you can run the cell and see the intended message instead of an error.

## 1.5. The Kernel
The kernel is a program that executes the code inside your notebook and outputs the results. In the top right of your window, you can see a circle that indicates the status of your kernel. If the circle is empty (‚ö™), the kernel is idle and ready to execute code. If the circle is filled in (‚ö´), the kernel is busy running some code. 

You may run into problems where your kernel is stuck for an excessive amount of time, your notebook is very slow and unresponsive, or your kernel loses its connection. If this happens, try the following steps:
1. At the top of your screen, click **Kernel**, then **Interrupt**.
2. If that doesn't help, click **Kernel**, then **Restart**. If you do this, you will have to run your code cells from the start of your notebook up until where you paused your work.
3. If that doesn't help, restart your server. First, save your work by clicking **File** at the top left of your screen, then **Save and Checkpoint**. Next, click **Control Panel** at the top right. Choose **Stop My Server** to shut it down, then **My Server** to start it back up. Then, navigate back to the notebook you were working on.

# 2. The planets of our Solar System

Mercury is the planet closest to our Sun, and Neptune is the planet farthest from our Sun.  Often astronomers will use AU's (astronomical units) as the unit of length for the orbital radius of planets or exoplanets.  One AU is roughly the distance between the Earth and Sun (about 93 million miles); note that the Earth's orbit is not circular so the actual distance between the Earth and Sun changes throughout the year.

Let's work on comparing how far apart the planets are from each other.  Mercury is about 0.4 AU from the Sun, Venus is about 0.7 AU, Mars is about 1.5 AU, Jupyter is about 5.2 AU, Saturn is about 9.5 AU, Uranus is about 19.2 AU, and Neptune is about 30.1.  Can you figure out how many AUs the Earth is from the Sun from the previous paragraph? 

Python uses assignment statements to assign a value to a variable name.
An assignment statement has a name on the left side of an = sign and an expression to be evaluated on the right.

For example, we can assign the value of 0.4 to mercury_rad using the following:

In [1]:
mercury_rad = 0.4
mercury_rad

0.4

Notice we also listed `mercury_rad' below the assignment so Python would print it's value.  If we did not include that second line, then the value would not have printed.
Now whenever we use `mercury_rad' Python uses the value assigned to it.

**Question 2.1**. Assign the remaining names venus_rad, ..., neptune_rad to the distances (in AU) between the planet and the Sun for the eight planets of the Solar System.

In [4]:
venus_rad = 0.7
mars_rad = 1.5
earth_rad = 1
jupyter_rad = 5.2
saturn_rad = 9.5
uranus_rad = 19.2
neptune_rad = 30.1

In [ ]:
venus_rad = ...
mars_rad = ...
earth_rad = ...
jupyter_rad = ...
saturn_rad = ...
uranus_rad = ...
neptune_rad = ...

Now that we have the orbital distance for the planets as named variables, we can use the variable names to compute quantities like the distances between to planets, or convert the orbital radius in different units.  For example, we can find the distance between Mars and the Sun in miles.  Note that 1 AU $\approx$ $9.3\times10^7$ miles.

In [6]:
mars_rad*(9.3*10**7)

139500000.0

Notice that `**` raises one number to the power of the other. So, `10**2` stands for $10^2$ and evaluates to 100.
Many basic arithmetic operations are built in to Python.  The textbook section on [Expressions](http://www.inferentialthinking.com/chapters/03/1/expressions.html) describes all the arithmetic operators used in the course.

**Question 2.2.** Using the variable names neptune_rad and earth_rad, compute the distance between Earth and Neptune in units of miles.  You may want to use the `abs()' function to compute the distance so you don't get negative values.  (The `abs` function takes a single number as its argument and returns the absolute value of that number.  The absolute value of a number is its distance from 0 on the number line, so `abs(5)` is 5 and `abs(-5)` is also 5.)

In [10]:
...

Ellipsis

`abs' is a built-in Python function.  The most common way to combine or manipulate values in Python is by calling functions. Python comes with many built-in functions that perform common operations.

It turns out that function calls and arithmetic expressions can themselves contain expressions.  You may have seen an example in the last question if you subtracted two values within the `abs()'

Nested expressions can turn into complicated-looking code. However, the way in which complicated expressions break down is very regular.

Suppose we are interested in which pair of neighboring planets are furthest apart from each other.  We can compute the absolute value of the difference in orbital radius between each pair of neighboring planets, and then use the built-in 'max()' function returns the maximum argument passed to it.  For example, the following finds the maximum value among a collection of values considered:

In [13]:
max(venus_rad, neptune_rad, mars_rad)

30.1

**Question 2.3** Next let's try to find the largest distance between two *neighboring* planets.  To do this, we can compute the distance between each pair of neighboring planets using the 'abs()' and 'max()' functions.  The initial code is below, now you have to add in the remaining distances and run the code.

In [12]:
max(abs(mercury_rad - venus_rad), abs(venus_rad - mars_rad), abs(mars_rad - earth_rad), abs(earth_rad - jupyter_rad), ...)

4.2

# 3. Solar System Data

For this section, we are going to use a dataset from [NASA](https://nssdc.gsfc.nasa.gov/planetary/factsheet/) that contains some general information about the planets of our Solar System (and the moon and Pluto). (Details about the listed attributes can be found [here](https://nssdc.gsfc.nasa.gov/planetary/factsheet/planetfact_notes.html#escv).) 
Rather than having to manually add all the data into Python, we can simply import the data using some functions in Python.  The dataset is called 'solar_system_data.csv'

In [109]:
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

planets = Table.read_table('solar_system_data.csv') #Load in the dataset

The first five lines in the code can be ignored for now.  The final line of the code reads-in the dataset and assigns the dataset to the name `planets.' Notice also that there is note next to the final line of code that begins with the '#.'  Python ignores anything following the '#' and it is a great way to add documentation and notes to your code.  More on that later.

We've loaded the data, now what is it?  How do we work with it?  The variable 'planet' is actually what we call a table.  Many of the datasets we use are organized in this way.  

- Each column represents a different planet of the Solar System (and the moon and Pluto)
- Each row contains different attributes that describe each planet/moon/pluto.  

We can display the table using the code below.  Notice that for some of the units, it appears as '106km.'  This is actually $10^6$ km.

In [110]:
planets.show()

If we only want to see the first two rows, we can use the following:

In [61]:
planets.show(2)

We can see the number of columns using the following:

In [65]:
planets.num_columns

11

And the number of row with this:

In [66]:
planets.num_rows

20

We can also select different columns using the 'select' function.  Below we select columns 0, 1, and 5 and print them out.  Notice that the indexing starts at 0, not 1!

In [63]:
planets.select(0,1,5)

Attribute                  | Mercury | Mars
Mass (1024kg)              | 0.33    | 0.642
Diameter (km)              | 4879    | 6792
Density (kg/m3)            | 5427    | 3933
Gravity (m/s2)             | 3.7     | 3.7
Escape Velocity (km/s)     | 4.3     | 5
Rotation Period (hours)    | 1407.6  | 24.6
Length of Day (hours)      | 4222.6  | 24.7
Distance from Sun (106 km) | 57.9    | 227.9
Perihelion (106 km)        | 46      | 206.6
Aphelion (106 km)          | 69.8    | 249.2
... (10 rows omitted)

Or we can select columns using the column labels:

In [64]:
planets.select('Attribute','Mercury','Mars')

Attribute                  | Mercury | Mars
Mass (1024kg)              | 0.33    | 0.642
Diameter (km)              | 4879    | 6792
Density (kg/m3)            | 5427    | 3933
Gravity (m/s2)             | 3.7     | 3.7
Escape Velocity (km/s)     | 4.3     | 5
Rotation Period (hours)    | 1407.6  | 24.6
Length of Day (hours)      | 4222.6  | 24.7
Distance from Sun (106 km) | 57.9    | 227.9
Perihelion (106 km)        | 46      | 206.6
Aphelion (106 km)          | 69.8    | 249.2
... (10 rows omitted)

To select rows, we can use the following.  Note that `np.arrange(0,4)' selects rows 0,1,2,3 (but not 4).

In [99]:
planets.take(np.arange(0, 4))

Attribute       | Mercury | Venus | Earth | Moon  | Mars  | Jupiter | Saturn | Uranus | Neptune | Pluto
Mass (1024kg)   | 0.33    | 4.87  | 5.97  | 0.073 | 0.642 | 1898    | 568    | 86.8   | 102     | 0.0146
Diameter (km)   | 4879    | 12104 | 12756 | 3475  | 6792  | 142984  | 120536 | 51118  | 49528   | 2370
Density (kg/m3) | 5427    | 5243  | 5514  | 3340  | 3933  | 1326    | 687    | 1271   | 1638    | 2095
Gravity (m/s2)  | 3.7     | 8.9   | 9.8   | 1.6   | 3.7   | 23.1    | 9      | 8.7    | 11      | 0.7

We can also select a subset of rows and columns

In [101]:
planets.select('Attribute','Mercury','Mars').take((0,2,5))

Attribute               | Mercury | Mars
Mass (1024kg)           | 0.33    | 0.642
Density (kg/m3)         | 5427    | 3933
Rotation Period (hours) | 1407.6  | 24.6

We are going to learn a lot more about Tables, especially in the main YData course.  But for today let's use the data in the table to try to carryout some calculations and learn something about planets.

**Question 3.1.** Use the table functions discussed above to select the following attributes for the eight Solar System planets, and call this planets_real:  Mass, Rotation period, Distance from Sun.  (You may also want to keep the 'Attribute' column so you remember what the quantities are.)

In [136]:
planets_real = planets.select('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune').take((0,5,7))
planets_real.show()

**Question 3.2.** Which planet has the highest mass?  Try using the 'max()' function applied to the appropriate row of the table 'planets_real.'

In [134]:
planets_real.select(1,2,3,4,5,6,7,8).take(0)

Mercury | Venus | Earth | Mars  | Jupiter | Saturn | Uranus | Neptune
0.33    | 4.87  | 5.97  | 0.642 | 1898    | 568    | 86.8   | 102

datascience.tables.Table

In [141]:
planets.T

Attribute                                                    | Mercury                                                      | Venus                                                        | Earth                                                        | Moon                                                         | Mars                                                         | Jupiter                                                      | Saturn                                                       | Uranus                                                       | Neptune                                                      | Pluto
['Mass (1024kg)' 'Diameter (km)' 'Density (kg/m3)' 'Grav ... | ['0.33' '4879' '5427' '3.7' '4.3' '1407.6' '4222.6' '57. ... | ['4.87' '12104' '5243' '8.9' '10.4' '-5832.5' '2802' '10 ... | ['5.97' '12756' '5514' '9.8' '11.2' '23.9' '24' '149.6'  ... | ['0.073' '3475' '3340' '1.6' '2.4' '655.7' '708.7' '0.38 ... | ['0.642' '6792' '3933' '3.7' '5' '24.6' '24.7' '227.9' ' ... | ['1898' '142984' '1326' '23.1' '59.5' '9.9' '9.9' '778.6 ... | ['568' '120536' '687' '9' '35.5' '10.7' '10.7' '1433.5'  ... | ['86.8' '51118' '1271' '8.7' '21.3' '-17.2' '17.2' '2872 ... | ['102' '49528' '1638' '11' '23.5' '16.1' '16.1' '4495.1' ... | ['0.0146' '2370' '2095' '0.7' '1.3' '-153.3' '153.3' '59 ...

The orbital velocity of Mercury is 47.4 km/s (run code below for confirmation in table).

In [148]:
planets.select('Attribute','Mercury').take(11)

Attribute               | Mercury
Orbital Velocity (km/s) | 47.4

**Question 3.3.**  Let's try to compute Mercury's orbital velocity using other quantities from the data.  The orbital velocity is the velocity at which Mercury travels around the Sun.  In order to compute this, we need to know the distance covered by Mercury (the diameter of the orbit) and how long it takes Mercury to travel around the Sun (the period of the orbit).

The diameter of orbit, mercury_diameter, is $2\pi R$ where $R$ is Mercury's average distance to Sun.  Notice that the orbital velocity is in km/s so we will want to make sure mercury_o_diameter has 'km' for its units.  In Python, 'np.pi' can be used for the quanitity $\pi$ -- the 'np' means that we are using the numpy module for this constant.  Try running 'np.py' below to verify that we get the constant we expect, 3.1415...

In [151]:
np.pi

3.141592653589793

Now let's compute mercury_o_diameter.  Notice that Mercury's average distance to the Sun is in units of $10^6$km:

In [153]:
planets.select('Attribute','Mercury').take(7)

Attribute                  | Mercury
Distance from Sun (106 km) | 57.9

In the cell below, select the appropriate value from the planet table and convert it to the appropriate units.

In [155]:
mercury_o_diameter = 2*np.pi*planets['Mercury'][7]

TypeError: can't multiply sequence by non-int of type 'float'

Now calculate the Mercury's orbital period.  First let's look at it's value by running the code below.

In [157]:
planets.select('Attribute','Mercury').take(10)

Attribute             | Mercury
Orbital Period (days) | 88

Notice that the orbital period is in units of 'days' so you will want to convert it to 'seconds.'  Define mercury_o_period in units of days below.

In [ ]:
mercury_o_period = planets.select('Mercury').take(10)*24*60*60

Now we are ready to put it all together and compute Mercury's orbital velocity, mercury_o_velocity. Add your variables mercury_0_diameter and mercury_o_period

In [ ]:
mercury_o_velocity = ...
mercury_o_velocity

How does mercury_o_velocity compare to the orbital value listed in the table?

In [ ]:
print(mercury_o_velocity)
planets.select('Attribute','Mercury').take(11)

## 3.3. Application: A physics experiment

On the Apollo 15 mission to the Moon, astronaut David Scott famously replicated Galileo's physics experiment in which he showed that gravity accelerates objects of different mass at the same rate. Because there is no air resistance for a falling object on the surface of the Moon, even two objects with very different masses and densities should fall at the same rate. David Scott compared a feather and a hammer.

You can run the following cell to watch a video of the experiment.

In [ ]:
from IPython.display import YouTubeVideo
# The original URL is:
#   https://www.youtube.com/watch?v=U7db6ZeLR5s
YouTubeVideo("U7db6ZeLR5s")

Here's the transcript of the video:

**167:22:06 Scott**: Well, in my left hand, I have a feather; in my right hand, a hammer. And I guess one of the reasons we got here today was because of a gentleman named Galileo, a long time ago, who made a rather significant discovery about falling objects in gravity fields. And we thought where would be a better place to confirm his findings than on the Moon. And so we thought we'd try it here for you. The feather happens to be, appropriately, a falcon feather for our Falcon. And I'll drop the two of them here and, hopefully, they'll hit the ground at the same time. 

**167:22:43 Scott**: How about that!

**167:22:45 Allen**: How about that! (Applause in Houston)

**167:22:46 Scott**: Which proves that Mr. Galileo was correct in his findings.

**Newton's Law.** Using this footage, we can also attempt to confirm another famous bit of physics: Newton's law of universal gravitation. Newton's laws predict that any object dropped near the surface of the Moon should fall

$$\frac{1}{2} G \frac{M}{R^2} t^2 \text{ meters}$$

after $t$ seconds, where $G$ is a universal constant, $M$ is the moon's mass in kilograms, and $R$ is the moon's radius in meters.  So if we know $G$, $M$, and $R$, then Newton's laws let us predict how far an object will fall over any amount of time.

To verify the accuracy of this law, we will calculate the difference between the predicted distance the hammer drops and the actual distance.  (If they are different, it might be because Newton's laws are wrong, or because our measurements are imprecise, or because there are other factors affecting the hammer for which we haven't accounted.)

Someone studied the video and estimated that the hammer was dropped 113 cm from the surface. Counting frames in the video, the hammer falls for 1.2 seconds (36 frames).

**Question 3.3.1.** Complete the code in the next cell to fill in the *data* from the experiment.

In [ ]:
# t, the duration of the fall in the experiment, in seconds.
# Fill this in.
time = ...

# The estimated distance the hammer actually fell, in meters.
# Fill this in.
estimated_distance_m = ...

In [ ]:
time = 1.2
estimated_distance_m = 1.13

**Question 3.3.2.** Now, complete the code in the next cell to compute the difference between the predicted and estimated distances (in meters) that the hammer fell in this experiment.

This just means translating the formula above ($\frac{1}{2}G\frac{M}{R^2}t^2$) into Python code.  You'll have to replace each variable in the math formula with the name we gave that number in Python code.

In [ ]:
# First, we've written down the values of the 3 universal
# constants that show up in Newton's formula.

# G, the universal constant measuring the strength of gravity.
gravity_constant = 6.674 * 10**-11

# M, the moon's mass, in kilograms.
moon_mass_kg = 7.34767309 * 10**22

# R, the radius of the moon, in meters.
moon_radius_m = 1.737 * 10**6

# The distance the hammer should have fallen over the
# duration of the fall, in meters, according to Newton's
# law of gravity.  The text above describes the formula
# for this distance given by Newton's law.
# **YOU FILL THIS PART IN.**
predicted_distance_m = ...

# Here we've computed the difference between the predicted
# fall distance and the distance we actually measured.
# If you've filled in the above code, this should just work.
difference = predicted_distance_m - estimated_distance_m
difference

## 4.1. Application: Computing walking distances
Chunhua is on the corner of 7th Avenue and 42nd Street in Midtown Manhattan, and she wants to know far she'd have to walk to get to Gramercy School on the corner of 10th Avenue and 34th Street.

She can't cut across blocks diagonally, since there are buildings in the way.  She has to walk along the sidewalks.  Using the map below, she sees she'd have to walk 3 avenues (long blocks) and 8 streets (short blocks).  In terms of the given numbers, she computed 3 as the difference between 7 and 10, *in absolute value*, and 8 similarly.  

Chunhua also knows that blocks in Manhattan are all about 80m by 274m (avenues are farther apart than streets).  So in total, she'd have to walk $(80 \times |42 - 34| + 274 \times |7 - 10|)$ meters to get to the park.

<img src="map.jpg"/>

**Question 4.1.1.** Finish the line `num_avenues_away = ...` in the next cell so that the cell calculates the distance Chunhua must walk and gives it the name `manhattan_distance`.  Everything else has been filled in for you.  **Use the `abs` function.**

In [ ]:
# Here's the number of streets away:
num_streets_away = abs(42-34)

# Compute the number of avenues away in a similar way:
num_avenues_away = ...

street_length_m = 80
avenue_length_m = 274

# Now we compute the total distance Chunhua must walk.
manhattan_distance = street_length_m*num_streets_away + avenue_length_m*num_avenues_away

# We've included this line so that you see the distance
# you've computed when you run this cell.  You don't need
# to change it, but you can if you want.
manhattan_distance